<a href="https://colab.research.google.com/github/mayajsv/AnaliseExploratoria/blob/main/Perfil_do_Profissional_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# Instalando o wget para capturar as informações do csv no repositório do github
!pip install wget
!wget https://raw.githubusercontent.com/mayajsv/AnaliseExploratoria/main/datahackers-survey-2019-anonymous-responses.csv

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)
--2022-02-01 10:29:51--  https://raw.githubusercontent.com/mayajsv/AnaliseExploratoria/main/datahackers-survey-2019-anonymous-responses.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1169019 (1.1M) [text/plain]
Saving to: ‘datahackers-survey-2019-anonymous-responses.csv’

datahackers-survey- 100%[===================>]   1.11M  --.-KB/s    in 0.009s

2022-02-01 10:29:51 (126 MB/s) - ‘datahackers-survey-2019-anonymous-responses.csv’ saved [1169019/1169019]

In [9]:
# Criando um DataFrame chamado 'df' que receberá os dados carregados do csv
df = pd.read_csv('datahackers-survey-2019-anonymous-responses.csv')

df.head()

                       ('P0', 'id')  ...             ('D6', 'anonymized_role')
0  v9otv8j9wdvjrv9otvwnn9owhzq54ktv  ...                                Outras
1  875ul998t0hqcv0871uptwf3oswcfv35  ...        Data Analyst/Analista de Dados
2  puscuk079vw1pusbb900pzw2xvpxtgdk  ...                                Outras
3  rmel8ewqpbffp2mnfbzermel8eqincov  ...  Business Intelligence/Analista de BI
4  pj9mgud4d6mdct1l7vq0pj9mgu78h6ju  ...                                   NaN

[5 rows x 170 columns]